@font-face {
    font-family: Students;
    src: url(./fonts/TheStudentsTeacher-Regular.ttf);
}

@font-face {
    font-family: Sunflowers;
    src: url(./fonts/Sunflower.otf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/2-objetivos/deep-purple-curve-background-premium-vector.jpg);
}


div nav ol {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    padding: 15px;
    list-style: none;
   
    
}

 ol li a {
    display: flex;
    color: azure;
    text-decoration: none;
    flex-wrap: wrap;
    
}

img {
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.menu-mobile {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #512da8;
    align-items:center;
    margin-top: 30px;
    margin: 20px 50px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Students;
    margin:5px 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Sunflowers;
    border: 1px solid #512da8 ;
    margin-top: 10px;
    margin:10px 50px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.nav i {
    color:white;
    display: none;
   
    
    
}

/* Responsivo */


@media(max-width: 800px) {
    
    .menu-mobile {
        display: block;
        margin-left: 10px; 
    }

    .container img {
        width: 200px;
        height: 190px;
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position:absolute;
        top:0;
        left: 0;
        bottom: 0;
        background-color: #512da8;
        padding: 1rem;
        box-shadow: 0 0 0 100vmax #1c133280;

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
       
    }

    .nav-list li {
        padding-bottom: 3px;
    }
    
    .nav i {
        display: flex;
        
    }
    
    h2 {
        margin:20px 30px;
    }
    
    }
