body{
    width: 100%;
    background-color:#607d88 ;
    text-align: center;
}
h1{
    text-align: center;
    margin: 70px;
    font-size: 40px;
    font-family: students;
}
p{
    font-size: 20px;
}
button{

   width: 150px;
   height: 75px;
 background-color: blueviolet;
 border-radius: 25%;
 margin-top: 50px;
 margin-bottom: 50px;
}
button:hover{
    color: aquamarine;
    background-color: rgb(112, 10, 207);
}
button a{

    font-size: 30px;
    text-decoration: none;
    color: white;

}
div nav ol {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    padding: 15px;
    list-style: none;
   
    
}

 ol li a {
    display: flex;
    color: azure;
    text-decoration: none;
    flex-wrap: wrap;
    
}

.menu-mobile {
    display: none;
}
@media(max-width: 800px) {
    .menu-mobile {
          display: flex;
          margin-left: 10px;
          margin: 10px;
      }
    div nav ol li{
          display: none;
           
      }
    }
    #IMG-2{
        float: left;
        width: 350px;
        height: 350px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    @font-face {
        font-family: students;
        src: url(C:\Users\34654\Documents\GitHub\curso-de-habitos-saludables-en-la-alimentaci-n\sunflower_7\Sunflower.otf);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        flex-direction: column;
    }

