body{
    width: 100%;
    background-color:#607d88 ;
}
h1{
    text-align: center;
    margin: 70px;
    font-size: 40px;
}
p{
    font-size: 20px;
}
button{

   width: 150px;
   height: 75px;
 background-color: blueviolet;

   border-radius: 25%;
 margin-top: 50px;
 margin-bottom: 50px;
 margin-left: 42%;
}
button:hover{
    color: aquamarine;
    background-color: rgb(112, 10, 207);
}
a {font-size: 30px;
    text-decoration: none;
    color: white;
}
div nav ol {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    padding: 15px;
    list-style: none;
   
    
}

 ol li a {
    display: flex;
    color: azure;
    text-decoration: none;
    flex-wrap: wrap;
    
}

.menu-mobile {
    display: none;
}
@media(max-width: 800px) {
    .menu-mobile {
          display: flex;
          margin-left: 10px;
          margin: 10px;
      }
    div nav ol li{
          display: none;
           
      }
    }