
button {
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.question{
    margin-top: 50px;
    margin-left: 35%;
    color: black;
}
h1{
    margin-top: 50px;
    margin-left: 35%;
}
.pregunta,.respuestas {
    margin-bottom: 15px;
}