* {
    margin: 0;
    padding: 0;
 }
 body{
    width: 100%;
    background: rgb(81,45,168);
background: -moz-linear-gradient(90deg, rgba(81,45,168,1) 5%, rgba(96,125,136,1) 30%, rgba(117,117,117,1) 50%, rgba(96,125,136,1) 70%, rgba(81,45,168,1) 95%);
background: -webkit-linear-gradient(90deg, rgba(81,45,168,1) 5%, rgba(96,125,136,1) 30%, rgba(117,117,117,1) 50%, rgba(96,125,136,1) 70%, rgba(81,45,168,1) 95%);
background: linear-gradient(90deg, rgba(81,45,168,1) 5%, rgba(96,125,136,1) 30%, rgba(117,117,117,1) 50%, rgba(96,125,136,1) 70%, rgba(81,45,168,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#512da8",endColorstr="#512da8",GradientType=1);
text-align: center;
}

h1{
    margin: 50px;
}
.pregunta,.respuestas {
    margin-bottom: 15px;

}
    .pregunta{
        font-family: students;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .respuestas{
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
  @media(max-width: 800px){.container{
    text-align: left;
    flex-wrap: wrap;
 }
}
.enviar{
   width: 100px;
   height: 45px;
   border-radius: 25%;
   margin-bottom: 50px;
   font-size: 20px;
   background-color: rgb(157, 70, 238);
   text-decoration: none;
}
.enviar:hover{
   background-color:#512da8;
   color: wheat;
}
div nav ol {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    padding: 15px;
    list-style: none;
}
ol li a {
    display: flex;
    color: azure;
    text-decoration: none;
    flex-wrap: wrap;
    
}

.menu-mobile {
    display: none;
}
@media(max-width: 800px) {
    .menu-mobile {
          display: flex;
          margin-left: 10px;
          margin: 10px;
      }
    div nav ol li{
          display: none;
           
      }
    }
     @font-face {
        font-family: students;
        src: url(C:\Users\34654\Desktop\fonts\the_students_teacher\students.ttf);
     }
