@font-face {
    font-family: Students;
    src: url(./fonts/TheStudentsTeacher-Regular.ttf);
}

@font-face {
    font-family: Sunflowers;
    src: url(./fonts/Sunflower.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/HD-wallpaper-gradient-clean-colors-purple-screen-simple-white.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div nav ol {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    padding: 15px;
    list-style: none;
   
    
}

 ol li a {
    display: flex;
    color: azure;
    text-decoration: none;
    flex-wrap: wrap;
    
}

.menu-mobile {
    display: none;
}


.container {

    margin: 200px 500px;
    align-content: center;
    width: 700px;
    box-shadow: 6px 13px 37px black;
    background-color:transparent;
    
    
   }

   details {
    margin: 10px;
    background-color: #512da8;
    border-radius: 5px;
    padding: 2px;
   }

   summary {
    margin: 10px;
    color:rgb(247, 238, 238);
    background-color: transparent;
    
   }

   p {
    padding: 2px;
    color: black;
    background-color: white;

   }



@media(max-width: 800px) {
    div nav ol li {
        display: none;   
    }

    .menu-mobile {
        display: flex;
        margin-left: 10px;
        margin-top: 10px;
    }
    div .container {
        max-width: 80%;
        margin-left: 30px;

    }

    nav {
        display: none;
    }

    
    }

    
